<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Hyperledger Fabric Tuna Application</title>
    <link rel="icon" href="favicon.png" type="image/gif">

    <!-- require jquery and bootstrap scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
    <!-- adding style here -->
    <style type="text/css">
      header{
        background-color: lightgray;
        font-size:20px;
        padding:15px;
      }
      header, .form-group{
        margin-bottom: 3%;
      }
      .form-group{
        width:50%;
      }
      #body{
        margin-left:3%;
        margin-right:3%;
      }
      .form-control{
        margin: 8px;
      }
      #right_header{
        width:20%;
        font-size:15px;
        margin-right:0px;
      }
      #left_header{
        margin-left:0;
        width:40%;
        display:inline-block;
      } 
      #id {
        width:49%;
        display: inline-block;
      }
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      tr:nth-child(even) {
          background-color: #dddddd;
      }
    </style>
  </head>
  <body ng-app="application" ng-controller="appController">
    <header>
      <div id="left_header">Hyperledger Fabric Tuna Application</div>
      <i id="right_header">Example Blockchain Application for Introduction to Hyperledger Fabric LFS171x</i>
    </header>

    <div id="body">
      <div class="form-group">
        <label>Query All Votes</label>
        <p><input id="queryAllVotes" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllVotes()"></p>
      </div>
 
      <table id="all_votes" class="table" align="center">

        <tr>
          <th>ID</th>
          <th>Codigo</th>
          <th>Eleccion</th>
          <th>Entidad</th>
          <th>Distrito</th>
          <th>Municipio</th>
          <th>Seccion</th>
          <th>Localidad</th>
        </tr>

        <tr ng-repeat="vote in all_votes">
          <td>{{vote.Key}}</td>
          <td>{{vote.codigo}}</td>
          <td>{{vote.eleccion}}</td>
          <td>{{vote.entidad}}</td>
          <td>{{vote.distrito}}</td>
          <td>{{vote.municipio}}</td>
          <td>{{vote.seccion}}</td>
          <td>{{vote.localidad}}</td>
        </tr>
      </table>

      <div class="form-group">
        <label>Query a Specific Vote</label><br>
        <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Vote Id</h5>
        
        Enter a vote number: <input id="createName" class="form-control" type="text" placeholder="Ex: 3" ng-model="vote_id">
        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="queryVote()">
      </div>

      <table id="query_vote" class="table" align="center">

        <tr>
          <th>Codigo</th>
          <th>Eleccion</th>
          <th>Entidad</th>
          <th>Distrito</th>
          <th>Municipio</th>
          <th>Seccion</th>
          <th>Localidad</th>
        </tr>

        <tr>
          <td>{{query_vote.codigo}}</td>
          <td>{{query_vote.eleccion}}</td>
          <td>{{query_vote.entidad}}</td>
          <td>{{query_vote.distrito}}</td>
          <td>{{query_vote.municipio}}</td>
          <td>{{query_vote.seccion}}</td>
          <td>{{query_vote.localidad}}</td>
        </tr>
      </table>

      <div class="form-group">
        <label>Query Votes By Eleccion</label><br>
        <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Vote Choice</h5>
        
        Enter a domain for search: <input id="createName" class="form-control" type="text" placeholder="Ex: eleccion" ng-model="search.factorBusqueda">
        <hr>
        Enter a value: <input id="createName" class="form-control" type="text" placeholder="Ex: AMLO" ng-model="search.parametro">

        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="queryVotesByDomain()">
      </div>

      <table id="query_vote_domain" class="table" align="center">

        <tr>
          <th>ID</th>
          <th>Codigo</th>
          <th>Eleccion</th>
          <th>Entidad</th>
          <th>Distrito</th>
          <th>Municipio</th>
          <th>Seccion</th>
          <th>Localidad</th>
        </tr>

        <tr ng-repeat="vote in query_vote_domain">
          <td>{{vote.Key}}</td>
          <td>{{vote.codigo}}</td>
          <td>{{vote.eleccion}}</td>
          <td>{{vote.entidad}}</td>
          <td>{{vote.distrito}}</td>
          <td>{{vote.municipio}}</td>
          <td>{{vote.seccion}}</td>
          <td>{{vote.localidad}}</td>
        </tr>
      </table>

      <div class="form-group">
        <label>Create Vote Record</label>
        <h5 style="color:green;margin-bottom:2%" id="success_create">Success! Tx ID: {{create_vote}}</h5>
        <br>
        Enter vote id: <input class="form-control" type="text" placeholder="Ex: 11" ng-model="vote.id">
        Enter code of ballot: <input class="form-control" type="text" placeholder="Ex: 0239L" ng-model="vote.codigo">
        Enter vote choice: <input class="form-control" type="text" placeholder="Ex: AMLO" ng-model="vote.eleccion"> 
        Enter entity: <input class="form-control" type="text" placeholder="Ex: <32 or name>" ng-model="vote.entidad">
        Enter district: <input class="form-control" type="text" placeholder="Ex: <300 or name>" ng-model="vote.distrito">
        Enter municipio: <input class="form-control" type="text" placeholder="Ex: <2457 or name>" ng-model="vote.municipio">
        Enter section: <input class="form-control" type="text" placeholder="Ex: <68364 or name>" ng-model="vote.seccion">
        Enter local area: <input class="form-control" type="text" placeholder="Ex: <213570 or name>" ng-model="vote.localidad">
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="recordVote()"> 
      </div>

      <!-- <div class="form-group">
        <label>Change Tuna Holder</label><br>
        <h5 style="color:green;margin-bottom:2%" id="success_holder">Success! Tx ID: {{change_holder}}</h5>
        <h5 style="color:red;margin-bottom:2%" id="error_holder">Error: Please enter a valid Tuna Id</h5>
        Enter a catch id between 1 and 10: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="owner.id">
        Enter name of new holder: <input class="form-control" name="assetSelect" placeholder="Ex: Barry" ng-model="owner.name">
        <input id="transferSubmit" type="submit" value="Change" class="btn btn-primary" ng-click="changeHolder()">
      </div> -->

    </div>
  </body>
    <!-- requiring the angular page -->
    <script type="text/javascript" src="app.js"> </script>
</html>